h1 {
    text-align: center;
}

.img1 {
    max-height: 512px;
}

.info{
    color: white;
    background-color: black;
    font-size: 15pt;
    text-align: center;
}
    
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}